<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GroestlCoin_EasyMiner_2018.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <GroestlCoin_EasyMiner_2018.Properties.Settings>
            <setting name="GrsWalletAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="DonationFund" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DonateDuration" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MineIntensity" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="UseDwarfPool" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MiningPoolAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="MiningPoolUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="MiningPoolPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="CPUMining" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GPUMining" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FirstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
        </GroestlCoin_EasyMiner_2018.Properties.Settings>
    </userSettings>
</configuration>